.first-slide {
  min-height: 57vh;
}

.selected-artist-toolbar {
  min-height: 70px;
  max-height: 120px;
  overflow: scroll;
}

.album-div {
  height: 50vh;
}

.remove-artist-fab {
  position: relative;
  align-self: start;
  z-index: 2;
  right: 75%;
  background: white;
  border-radius: 50%;
  color: red;
  height: 16px;
  width: 16px;
}
