/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/** root properties **/
:root {
  --ion-font-family: "Montserrat" !important;

  ion-title {
    color: var(--ion-color-primary-contrast)
  }

  ion-label {
    color: var(--ion-color-primary-contrast)
  }
}

/** class for modal wrapper **/
.fit-modal-wrapper {
  --height: fit-content;
}


/** display utils **/
.display-grid {
  display: grid;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

/** to fix widths **/
.col-fit-content {
  max-width: fit-content;
}

.full-width {
  width: 100%;
}

/** things shapes **/
.round {
  border-radius: 50%;
}

.square-50 {
  height: 50px;
  width: 50px;
}

.square-75 {
  height: 75px;
  width: 75px;
}

.square-150 {
  height: 150px;
  width: 150px;
}

/** margin utils **/
.margin-start {
  margin-left: 12px !important;
}

.margin-end {
  margin-right: 12px !important;
}

.margin-vertical {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.margin-bottom {
  margin-bottom: 12px !important;
}

.margin-top {
  margin-top: 12px !important;
}

.big-margin-top {
  margin-top: 24px !important;
}

.no-padding-start {
  padding-left: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}


/** align and justify utils **/
.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.align-content-start {
  align-content: start;
}

.justify-self-center {
  justify-self: center;
}

/** about overflow and scroll **/
.scrollable {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

/** for big playlist classes **/
.playlist-cover-big {
  height: 200px;
  width: 200px;
  display: grid;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}

.big-title {
  font-size: 60px;
}

.title-mobile {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

/** for scrollable cards **/
.scrollable-card {
  max-height: 50vh;
  overflow: scroll
}

/** for fab div **/
.fab-height {
  height: 50px;
}

/** for checkbox headache **/
.checkbox-img-div {
  float: left;
  height: 50px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-right: 12px;
}

.checkbox-label-div {
  white-space: normal;
  max-width: calc(100% - 62px);
  float: right;
  height: 50px;
  align-content: center;
  display: grid;
}

.success-button-text {
  color: var(--ion-color-success-contrast) !important;
}

.warning-button-text {
  color: var(--ion-color-warning-contrast) !important;
}

.danger-button-text {
  color: var(--ion-color-danger-contrast) !important;
}