<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="col-fit-content">
            <div class="square-50">
              <img src="../../assets/icon/favicon.png" />
            </div>
          </ion-col>
          <ion-col class="display-grid align-content-center col-fit-content">
            <ion-label class="title-mobile">Fortify</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item lines="none" button (click)="navigate('/home')">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Página Inicial</ion-label>
      </ion-item>
      <!-- TODO: Adicionar!
      <ion-item lines="none">
        <ion-icon slot="start" name="earth-outline"></ion-icon>
        <ion-label>Navegar</ion-label>
      </ion-item> -->
      <ion-item lines="none" button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [ngClass]="{'ion-hide': fsService.platform != 'desktop'}" class="display-grid ion-justify-content-center">Fortify - Página Inicial </ion-title>
    <ion-title [ngClass]="{'ion-hide': fsService.platform != 'mobile'}" class="display-grid ion-justify-content-center">Fortify</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon name="" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'ion-hide': fsService.platform != 'mobile'}">
  <ion-card *ngIf="loginService.accessToken">
    <ion-card-header>
      <ion-item lines="none" class="ion-margin-bottom ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col class="col-fit-content">
              <img class="square-75 round" src="{{ perfilService.perfil?.images[0]?.url }}" />
            </ion-col>
            <ion-col class="display-grid ion-align-items-center">
              <ion-title>Olá, {{ perfilService.perfil?.display_name }}.</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-buttons class="full-width display-grid">
          <ion-button shape="round" fill="solid" color="success" (click)="openNewPlaylistModal()" class="margin-bottom">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            <ion-label>Criar Playlist</ion-label>
          </ion-button>
          <ion-button shape="round" fill="solid" color="danger" (click)="openDeletePlaylistsModal()" class="margin-bottom">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            <ion-label>Apagar Playlist</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="mobile-label">SUAS PLAYLISTS</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-grid>
          <ion-row *ngFor="let playlist of perfilService.perfil?.playlists?._owned" (click)="goToPlaylist(playlist.id)">
            <ion-col class="col-fit-content display-grid align-content-center">
              <div class="square-75 overflow-hidden align-content-center ion-justify-content-center display-grid">
                <img src="{{ playlist.images[0]?.url }}" />
              </div>
            </ion-col>
            <ion-col class="display-grid align-content-center">
              <ion-label text-wrap>{{ playlist.name }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="mobile-label">PLAYLISTS CURTIDAS</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-grid>
          <ion-row *ngFor="let playlist of perfilService.perfil?.playlists?._liked">
            <ion-col class="col-fit-content display-grid align-content-center">
              <div class="square-75 overflow-hidden align-content-center ion-justify-content-center display-grid">
                <img src="{{ playlist.images[0]?.url }}" />
              </div>
            </ion-col>
            <ion-col class="display-grid align-content-center">
              <ion-label text-wrap>{{ playlist.name }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!loginService.accessToken">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="ion-text-center" text-wrap>
          Utilize o botão abaixo para fazer login utilizando uma conta Spotify
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="display-grid ion-justify-content-center">
        <ion-buttons>
          <ion-button shape="round" color="success" fill="solid" (click)="login()">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content [ngClass]="{'ion-hide': fsService.platform != 'desktop'}">
  <ion-card *ngIf="loginService.accessToken">
    <ion-card-header>
      <ion-item lines="none" class="ion-margin-bottom ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col class="col-fit-content">
              <img class="square-75 round" src="{{ perfilService.perfil?.images[0]?.url }}" />
            </ion-col>
            <ion-col class="display-grid ion-align-items-center">
              <ion-title>Olá, {{ perfilService.perfil?.display_name }}.</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label slot="start">SUAS PLAYLISTS</ion-label>
        <ion-buttons slot="end">
          <ion-button class="margin-end" color="success" shape="round" fill="solid" (click)="openNewPlaylistModal()">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            <ion-label>Criar Playlist</ion-label>
          </ion-button>
          <ion-button color="danger" shape="round" fill="solid" (click)="openDeletePlaylistsModal()">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            <ion-label>Apagar Playlists</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-grid class="playlist-grid">
          <ion-row
            *ngFor="let playlistChunk of perfilService.perfil?.playlists?.owned"
            class="ion-margin-bottom ion-margin-top">
            <ion-col
              *ngFor="let playlist of playlistChunk"
              size="1"
              (click)="goToPlaylist(playlist.id)"
              class="display-grid ion-justify-content-center">
              <ion-item lines="none" class="display-grid ion-justify-content-center">
                <img class="square-150" src="{{ playlist.images[0]?.url }}" />
              </ion-item>
              <ion-item lines="none" class="display-grid ion-justify-content-center contain-cover">
                <ion-label class="ion-text-center" text-wrap>{{ playlist.name }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label slot="start">PLAYLISTS CURTIDAS</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-grid class="playlist-grid">
          <ion-row
            *ngFor="let playlistChunk of perfilService.perfil?.playlists?.liked"
            class="ion-margin-bottom ion-margin-top">
            <ion-col
              *ngFor="let playlist of playlistChunk"
              size="1"
              (click)="goToPlaylist(playlist.id)"
              class="display-grid ion-justify-content-center">
              <ion-item lines="none" class="display-grid ion-justify-content-center">
                <img class="square-150" src="{{ playlist.images[0]?.url }}" />
              </ion-item>
              <ion-item lines="none" class="display-grid ion-justify-content-center contain-cover">
                <ion-label class="ion-text-center" text-wrap>{{ playlist.name }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!loginService.accessToken">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="ion-text-center" text-wrap>
          Utilize o botão abaixo para fazer login utilizando uma conta Spotify
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="display-grid ion-justify-content-center">
        <ion-buttons>
          <ion-button shape="round" color="success" fill="solid" (click)="login()">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
</div>