<app-progress-indicator *ngIf="loading && state == 'init'" [message]="'Carregando informações da playlist...'" [showProgress]="true" [progress]="progress"></app-progress-indicator>

<ion-card *ngIf="!loading && duplicates?.length > 0">
  <ion-card-header>
    <ion-title text-wrap>Músicas duplicadas:</ion-title>
  </ion-card-header>
  <ion-card-content class="scrollable-card">
    <ion-item lines="none" *ngFor="let track of duplicates" class="margin-bottom">
      <ion-checkbox [(ngModel)]="track.toDelete" (ionChange)="markDelete()">
        <div class="checkbox-img-div"><img src="{{ track.album.images[0]?.url }}" /></div>
        <div class="checkbox-label-div">{{ track?.name }}</div>
      </ion-checkbox>
    </ion-item>
  </ion-card-content>
  <div class="fab-height">
    <ion-fab vertical="bottom" horizontal="end" *ngIf="toDelete?.length > 0">
      <ion-fab-button color="danger" class="ion-margin-end" (click)="delete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-card>

<app-progress-indicator *ngIf="loading && state == 'deleting'" [message]="'Removendo músicas da playlist...'" [showProgress]="true" [progress]="progress"></app-progress-indicator>
