.height-50 {
  height: 50px;
}

.height-150 {
  height: 150px;
}

.img-div {
  height: 220px;
  width: 220px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  display: grid;
}

.cover-img-div {
  height: 230px;
  max-width: 232px;
}
